
body{
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    color: #2f2f2f;
    background-color: #f9f7f1;
}
h1{
    text-align: center;
    font-size: 80px;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    margin-bottom: 30px;
}
p{
    margin-top: 0;
    margin-bottom: 20px;
}

#one{
    width: 200px;
    float: left;
    margin-right:10px ;
    margin-left: 10px;
    border-radius: 15%;
}


#two{
    width: 200px;
    float: right;
    margin-right: 10px;
    border-radius: 15%;

}


#three{
    width: 150px;
    float: left;
    margin-left: 10px;
    margin-right: 10px ;
    border-radius: 15%;
}


#four{
    width: 150px;
    float: right;
    margin-right: 10px ;
    border-radius: 15%;
    margin-left: 5px;

}


#para1{
    clear: right;
}

#para2{
    clear: left;
}

#para3{
    clear:right;
    border-radius: 5%;
    padding: 5px;
    
}

#para4{
    border-radius: 5%;
    padding: 5px;
    clear: left;

}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}



