h1{
    font-weight: 800;
    color: #f0f0f0 ;

}

li{
    display: inline-block;
    margin: 10px;
}

#nav{
    left: 0;
    position: fixed;
    width: 100%;
    top:0;
    background-color: #2874f0;;
}


a{
    text-decoration: none;
    color: #f0f0f0 ;
    font-size: 20px;
}


.card{
    margin-right: 50px;
    margin-left: 20px;
    margin-top: 100px;
    position: static;
    display: inline-block;
}
